body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}


p {
  flex: 1;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
}

#app {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin-top: 3em;
}

#app div.panels {
  position: relative;
  height: 600px;
}

#app div.panels svg {
  position:absolute;
  top: 0;
  left: 0;
}

#app div div.controls {
}

#app .previews {
}

#app .previews .SVG { font-family: monospace; padding: 1em; }
#app .previews .TTX { white-space: pre; font-family: monospace; padding: 1em; }

#app .coordinates {
  margin-right: 1em;
}

#app .grab {
  cursor:move;
}

#app .grab.dragging {
  cursor:all-scroll;
}

#app div.controls div {
  display: inline-block;
}

#app div.glyph.properties {
  margin-left: 1em;
}
